<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/EreditarietaClasse/src/it/uniroma2/lmp/MainClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="it.uniroma2.lmp.MainClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="EreditarietaClasse"/>
</launchConfiguration>
